 
 @import 'bootstrap/dist/css/bootstrap.min.css';
 @tailwind base;
@tailwind components;
@tailwind utilities;
.custom-row-style {
  background-color: #7c6f6f; 
  color: azure;
   font-size: medium;
   text-transform: uppercase;
}
/* your-css-file.css */
.custom-header {
  background-color: #4CAF50; /* Example color */
  color: white; /* Optional: Change text color */
}

.custom-header .ant-table-cell {
  background-color: #4CAF50; /* Ensure cells match the header row */
  color: white; /* Optional: Change text color */
}


.custom-row-style:hover {
  background-color: #7c6f6f; 
  color: black
 /* Light grey background */
}
 .register{
    margin:10%;
    display: block;
    justify-content: center;
 }
 .table{
  background-color: aqua;
 }
 .filters{ 
  margin-top: 20px;
  margin-bottom: 20px;
   display: flex;
   justify-content: space-between;
   margin-left: 10px;
   margin-right: 10px ;
 }
 .custom-flex {
  display: flex;
  justify-content: space-around;
   
}
.cardy{      
  background-color: rgb(187, 62, 62);
  padding: 2%;
}
.category-amount{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
}
.custom-text-4xl {
  font-size: 1.25rem; /* Equivalent to text-4xl in Tailwind CSS */
   line-height: 1.5rem;  }   

.custom-flex {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.custom-flexhead{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}